.division-title{
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 40px;
  border-bottom: 1px solid var(--color-black-opacity-50);
}
.division-title h1,
.division-title p{
  margin: 0;
}
.division-title h1{
  font-size: 35px;
  font-weight: 400;
}
.division-title p{
  margin-top: 20px;
  font-size: 20px;
}
.division-section{
  position: absolute;
  display: flex;
  top: 250px;
}
.main-calculator{
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 450px 1fr;
}
.main-section-title{
  grid-column-start: 1;
  grid-column-end: 3;
}
.main-section-title p{
  margin: 0;
  font-size: 40px;
}
.main-section-input{
  margin-right: 100px;
  border-right: 1px solid var(--color-black-opacity-50);
}
.moyeo-select-section{
  margin: 40px 40px 0 40px;
  padding-right: 50px;
  border-right: 1px solid var(--color-black-opacity-50);
}
.moyeo-select-section ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.moyeo-select-section ul li a{
  text-decoration: none;
  color: var(--color-black);
}
.moyeo-select-list{
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-black-opacity-50);
}
.main-calculator{
  margin-left: 50px;
}
.input-form p{
  margin: 20px 0 0 0;
  font-size: 20px;
}
.input-submit{
  display: block;
  margin-top: 30px;
  width: 200px;
  height: 45px;
  border: 0;
  padding: 0;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 25px;
  font-weight: 0;
}
.input-title{
  font-size: 35px;
  margin: 0;
}
.pay-person{
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.pay-persons{
  border: 1px solid var(--color-black-opacity-50);
  padding: 10px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: 0;
}
.input-place,
.input-payment{
  border: 1px solid var(--color-black-opacity-50);
  padding: 0 10px 0 10px;
  width: 178px;
  height: 38px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 0;
}
.output-title{
  font-size: 35px;
  margin: 0;
}
.pay-list{
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.pay-list-box{
  position: relative;
  border: 1px solid var(--color-black);
  width: 500px;
  height: 300px;
  padding: 20px 100px 20px 0;
}
.output-answer{
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.output-answer-list{
  font-size: 20px;
  margin: 10px 0 0 0;
}
.output-solution{
  font-size: 30px;
  font-weight: 600;
}
.output-share{
  position: absolute;
  top: 100px;
  right: 110px;
  width: 80px;
  height: 45px;
  border: 0;
  padding: 0;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 25px;
  font-weight: 0;
}
.output-clear{
  position: absolute;
  top: 100px;
  right: 0px;
  width: 100px;
  height: 45px;
  border: 0;
  padding: 0;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 25px;
  font-weight: 0;
}
.output-list{
  list-style: none;
}
.output-persons{
  float: left;
}
.output-place{
  margin-left: 100px;
}
.output-payment{
  float: right;
}
.sum-money{
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 460px;
  margin: 0 0 0 40px;
}
.total-payment{
  float: right;
}