.moyeo-list{
  position: absolute;
  top: -30px;
  width: 350px;
  height: 100%;
  background-color: var(--color-white-opacity-90);
  box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.1);
}
.map-list-ul{
  list-style: none;
  position: absolute;
  top: 80px;
  padding-left: 40px;
}
.map-moyeo-list{
  padding: 30px 0 30px 0;
  width: 270px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px solid var(--color-black);
}
.map-moyeo-list a{
  text-decoration: none;
  color: var(--color-black);
}
#map{
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute;
  top: -30px;
  left: 0px;
  overflow:hidden;
}
.map-wrap, .map-wrap * {
  margin:0;
  padding:0;
  font-family:'Malgun Gothic',dotum,'돋움',sans-serif;
  font-size:12px;
}
.map-wrap {
  position:absolute;
  top: 50px;
  left: 370px;
  width:330px;
  height:100px;
}
#category {
  position:absolute;
  top:30px;
  left:10px;
  border-radius: 5px;
  border:1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
  width: 485px;
}
#category li {
  float:left;
  list-style: none;
  width:80px;
  border-right:1px solid #acacac;
  padding:12px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#category li.on {
  background: #eee;
}
#category li:hover {
  background: var(--color-bright-purple);
  border-left:1px solid #acacac;
  margin-left: -1px;
}
#category li:last-child{
  margin-right:0;
  border-right:0;
}
#category li span {
  display: block;
  font-size: 15px;
  width: 50px;
  height: 28px;
  text-align: center;
}
#category li .store {
  background-image: url(../data/map-img/001-store.png);
  background-size: 25px;
  background-position: 12px;
  background-repeat: no-repeat;
}
#category li .subway {
  background-image: url(../data/map-img/002-train.png);
    background-size: 25px;
  background-position: 13px;
  background-repeat: no-repeat;
}
#category li .tour {
  background-image: url(../data/map-img/003-tour.png);
    background-size: 25px;
  background-position: 15px;
  background-repeat: no-repeat;
}
#category li .food {
  background-image: url(../data/map-img/004-food.png);
    background-size: 25px;
  background-position: 13px;
  background-repeat: no-repeat;
}
#category li .cafe {
  background-image: url(../data/map-img/005-coffee.png);
    background-size: 25px;
  background-position: 12px;
  background-repeat: no-repeat;
}
#category li .oil {
  background-image: url(../data/map-img/006-oil.png);
    background-size: 25px;
  background-position: 12px;
  background-repeat: no-repeat;
}
.placeinfo-wrap {
  position:absolute;
  bottom:28px;
  left:-150px;
  width:300px;
}
.placeinfo {
  position:relative;
  width:100%;
  border-radius:6px;
  border: 1px solid #ccc;
  border-bottom:2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
}
.placeinfo:nth-of-type(n) {
  border:0;
  box-shadow:0px 1px 2px #888;
}
.placeinfo-wrap .after {
  content:'';
  position:relative;
  margin-left:-12px;
  left:50%;
  width:22px;
  height:12px;
  background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active{
  color:#fff;
  text-decoration: none;
}
.placeinfo a,
.placeinfo span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.placeinfo span {
  margin:5px 5px 0 5px;
  cursor: default;
  font-size:13px;
}
.placeinfo .title {
  font-weight:normal;
  font-size:20px;
  border-radius: 6px 6px 0 0;
  margin: -1px -1px 0 -1px;
  padding:8px;
  color: white;
  background: #d95050;
  background: var(--color-purple) url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}
.placeinfo .tel {
  color:#0f7833;
}
.placeinfo .jibun {
  color:#999;
  font-size:11px;
  margin-top:0;
}
.map-board {
  z-index: 3;
  background-color: var(--color-black-opacity-50);
  position:absolute;
  width: 100%;
  height: 100%;
}
.infomation {
  z-index: 3;
  position: absolute;
  top: 200px;
  left: 370px;
  background-color: var(--color-white-opacity-90);
  width: 500px;
  height: 800px;
}
.info-title {
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid var(--color-black-opacity-50);
}
.info-body {
  text-align: center;
}
.info-address {
  display: block;
  margin: 20px;
}
.info-review {
  position: absolute;
  bottom: 0px;
  background-color: var(--color-bright-purple);
  width: 100%;
  height: 400px;
}
.close-place-info{
  text-decoration: none;
  color: var(--color-black);
  position: absolute;
  top: 0px;
  right: 10px;
}
.moyeo.active{
 color: var(--color-purple);
 font-weight: 700;
}
#search-address{
  position: absolute;
  top: 35px;
  left: 380px;
  height: 30px;
  width: 475px;
}
#search-address input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 0.5px solid var(--color-black);
  font-size: 20px;
  padding: 5px 0px 5px 10px;
}
#search-address button{
  position: absolute;
  top: 0.5px;
  right: -11px;
  background-color: var(--color-white);
  border: 0px;
  border-radius: 5px;
  height: 40px;
  width: 50px;
}
#errer-message{
  position: absolute;
  background-color: var(--color-bright-purple);
  border-radius: 5px;
  border: 3px solid red;
  height: 40px;
  width: 300px;
  font-size: 25px;
  text-align: center;
  top: 100px;
  left: 380px;
  visibility: hidden;
  transition: all ease 1s 0s;
}
#errer-message.active{
  visibility: visible;
  top: 160px;
  left: 380px;
}
.warning{
  color: red;
}