.article{
  height: 90%;
}
.my-page-article {
  z-index: 1;
  position: absolute;
  margin-top: 50px;
  width: 352px;
  height: 100%;
  border-right: 1px solid var(--color-black-opacity-50);
  box-shadow: 8px 3px .4em var(--color-black-opacity-50);
}

.my-page-welcome {
  display : flex;
  justify-content : center;
  align-items: center;
  flex-direction: column;
  width: 352px;
  height: 191px;
  font-size: 25px;
  text-decoration: none;
  color: var(--color-black);
}

.my-page-line {
  width: 352px;
  height: 1px;
  background-color: var(--color-black-opacity-50);
}
.my-page-list {
 margin-top: 30px;
}
.my-page-list a {
  display : flex;
  justify-content : center;
  align-items: center;
  flex-direction: column;
  width: 352px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 25px;
  text-decoration: none;
  color: var(--color-black);
}
.my-page-modify{
  position: absolute;
  top: 100px;
  left: 500px;
}
.my-page-modify h2,
.my-page-history h2{
  font-size: 40px;
}
.my-page-id,
.my-page-modify-name,
.my-page-modify-pw,
.my-page-delete{
  position: relative;
  border: 2px solid var(--color-main);
  border-radius: 20px;
  width: 960px;
  height: 60px;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}
.my-page-id p,
.my-page-modify-name p,
.my-page-modify-pw p,
.my-page-delete p{
  font-size: 30px;
  display: inline;
  margin-right: 50px;
}
.modify-btn,
.delete-account-btn{
  background-color: #F2F2F2;
  border: 0;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  font-size: 20px;
}
.check-delete-account{
  position: absolute;
  top: 37px;
  width: 200px;
  height: 25px;
}