.nav{
  position: fixed;
  top: 80px;
  display: flex;
  align-items: center;
  background-color: var(--color-white-opacity-50);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--color-black-opacity-50);
}
.nav a{
  font-size: 20px;
  text-decoration: none;
  color: var(--color-black-opacity-50);
}
.center-search{
  margin-left: 10px;
}
.center-search::after{
  margin: 0 10px 0 10px;
  content: "l";
}
.myPage_history{
  position: absolute;
  right: 10px;
}