.newMeetingBackground{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 130px;
  left: 0px;
  background-color: var(--color-black-opacity-50);
  width: 100%;
  height: 88%;
}
.newMeeting{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 15%;
  width: 1280px;
  height: 700px;
  border-radius: 30px;
  border: 5px solid var(--color-main-border);
  background-color: var(--color-white);
}
.AddMeetingFriends{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  border: 3px solid var(--color-main);
  border-radius: 15px;
  width: 750px;
  height: 50px;
  margin: 10px;
}
.AddMeetingFriends a{
  text-decoration: none;
  color: var(--color-black);
}
.newMeetingBtn {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 400px;
  bottom: 20px;
}
#newMeetingFriends,
#newMeetingAdd{
  background-color: var(--color-purple);
  border: 0;
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  color: var(--color-white);
}
#newMeetingFriends{
  width: 130px;
}
#newMeetingAdd{
  width: 100px;
}
.closeNewMeeting{
  position: absolute;
  top: 20px;
  right: 25px;
  text-decoration: none;
  font-size: 30px;
}