#search-id::after,
#search-pw::after{
  content: "l";
  margin: 10px;
}
.search{
  position: absolute;
  top: 130px;
  width: 100%;
  height: 86%;
  background-color: var(--color-black-opacity-50);
}
.search-box{
  position: relative;
  width: 500px;
  height: 700px;
  margin: 50px auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 20px;
}
.search-box h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.exit-btn{
  position: absolute;
  top: 35px;
  right: 20px;
  width: 20px;
  border: 0;
  background-color: var(--color-white);
}
.search-other-menu{
  text-align: center;
}
.search-other-menu a{
  text-decoration: none;
  color: var(--color-black);
}
.search-other-id::after{
  content: "l";
  margin: 10px;
}
.search-div,
.search-div-answer{
  position: relative;
  width: 300px;
  margin: 0px auto;
}
.search-div p{
  margin-top: 30px;
}
.search-contry{
  width: 200px;
  height: 30px;
  padding: 7px;
  font-size: 15px;
  margin-right: 10px;
}
.search-telecom{
  width: 90px;
  height: 30px;
  padding: 7px;
  font-size: 15px;
}
.search-input{
  margin-top: 10px;
  width: 282px;
  height: 12px;
  padding: 7px;
  font-size: 15px;
}
.search-input-with-btn{
  margin-top: 10px;
  width: 182px;
  height: 12px;
  padding: 7px;
  font-size: 15px;
  margin-right: 10px;
}
.search-sms-btn{
  width: 90px;
  height: 30px;
  padding: 4px;
  font-size: 15px;
  background-color: var(--color-main);
  color: var(--color-white);
  border: 0;
}
.search-submit-id,
.search-submit-pw{
  position: absolute;
  left: 60px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 20px;
  padding: 5px;
}
.search-submit-id{
  top: 300px;
}
.search-submit-pw{
  top: 400px;
}
.search-answer{
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 20px;
}
.search-div-answer{
  padding-top: 100px;
  text-align: center;
}