@import url("./data/theme.css");
@import url("./css/friend.css");
@import url("./css/search.css");
@import url("./css/join.css");
@import url("./css/login.css");
@import url("./css/division.css");
@import url("./css/footer.css");
@import url("./css/nav.css");
@import url("./css/header.css");
@import url("./css/myPage.css");
@import url("./css/map.css");
@import url("./css/newMeeting.css");

.article{
  z-index: -1;
  position: absolute;
  top: 80px;
  width: 100%;
}
.article img{
  width: 100%;
}