@import url("./data/theme.css");

.header{
  position: fixed;
  top: 0;
  display: flex;
  background-color: var(--color-main);
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.header a{
  text-decoration: none;
  margin: 0 40px 0 40px;
  color: var(--color-white);
}
.header .brand-name{
  font-size: 50px;
}
.header .login-btn{
  font-size: 30px;
}
.logo{
  width: 80px;
  height: 80px;
}
.nav{
  position: fixed;
  top: 80px;
  display: flex;
  align-items: center;
  background-color: var(--color-white-opacity-50);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--color-black-opacity-50);
}
.nav a{
  font-size: 20px;
  text-decoration: none;
  color: var(--color-black-opacity-50);
}
.map-btn{
  margin-left: 10px;
}
.map-btn::after{
  margin: 0 10px 0 10px;
  content: "l";
}
.history{
  position: absolute;
  right: 10px;
}
.article{
  z-index: -1;
  position: absolute;
  top: 80px;
  width: 100%;
}
.article img{
  width: 100%;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: var(--color-main);
}